<div class="all-slides" [@openClose]="scrollIsWithinFirstSlide()? 'open' :'closed'">
  <app-portfolio-intro id="intro" #intro></app-portfolio-intro>
  <app-keyons-journal id="keyons-journal" smoothScroll></app-keyons-journal>
  <app-teachers-pet id="teachers-pet"></app-teachers-pet>
  <app-spartan-robotics id="spartan-robotics"></app-spartan-robotics>
  <!-- <app-frcvision id="frc-vision"></app-frcvision> -->
<app-portfolio-outro id="outro" (scrolltop)="onScrollButton($event)"></app-portfolio-outro>
</div>
<!-- <div class="container-fluid" [@openClose]="scrollIsWithinFirstSlide()? 'open' :'closed'">
    <p>portfolio-page works!</p>
    <button mat-raised-button (click)="toggle()" [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">Test</button>
  </div> -->

