<div class="container-fluid h-100 d-flex introcontainer roboto text-white">
  <div class="row h-100 w-100 align-items-center align-self-center text-center mx-auto">
    <div class="col-12 col-sm-6 text-center pl-sm-5 align-items-center">
      <div class="row  h-25 mt-3 ">
        <div class="col my-auto">
          <h1 class="display-4 mb-sm-5 pb-sm-5 font-weight-bold">KEYON'S JOURNAL</h1>
        </div>
      </div>
      <div class="row ">
        <div class="col my-auto mx-auto">
          <div class=" paragraph-size">
            <p class="paragraph-size">Keyon’s Journal is my introduction to the world of Angular, a popular Google frontend framework. It’s a simple note-taking app similar to Google Keep. The backend was done on my personal remote server in MYSQL and PHP, which I learned as I continued with the project.</p>
            <p class="paragraph-size">
                I’ve also used this project as a springboard for two other, more lucrative in-development Angular projects:</p>

          </div>
          <div class="row ">
            <div class="col">
                <img class=" align-middle w-50 text-center mb-sm-2" src="../../assets/sendableexample.png"><br>
                <a mat-raised-button class="mx-1 my-1 my-sm-0 buttoneffect text-dark" href="https://devpost.com/software/teachers-pet"
                target="_blank">View on Devpost</a>
                <a mat-raised-button class="mx-1 buttoneffect text-dark my-1 my-sm-0" href="https://devpost.com/software/teachers-pet"
                target="_blank">View on Devpost</a>
            </div>
            <div class="col">
                <img class=" align-middle w-50 text-center mb-sm-2" src="../../assets/eventmodeexample.png"><br>
                <a mat-raised-button class="mx-1 buttoneffect text-dark my-1 my-sm-0" href="https://devpost.com/software/teachers-pet"
                target="_blank">View on Devpost</a>
                <a mat-raised-button class="mx-1 buttoneffect text-dark my-1 my-sm-0" href="https://devpost.com/software/teachers-pet"
                target="_blank">View on Devpost</a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-1 d-none d-sm-block">

    </div>
    <div class="col-sm-5 col-12 mt-2 mt-sm-0 mb-2 mb-sm-0 text-center">
      <img class=" align-middle w-100 mb-2 mb-sm-2" src="../../assets/keyonsjournalexample.png">
      <a mat-raised-button class="mx-1 buttoneffect text-dark" href="https://devpost.com/software/teachers-pet"
                target="_blank">Try it!</a>
      <a mat-raised-button class="mx-1 buttoneffect text-dark mt-sm-3" href="https://github.com/SmitRao/UofT-Hacks-2019"
      target="_blank">View on GitHub</a>
    </div>


  </div>
</div>
