<app-navbar>

</app-navbar>
<div class="container-fluid  home-container ">

  <div class="row no-gutters">
    <div class="col no-gutters">

    </div> <!-- COL -->
  </div> <!-- ROW -->

  <div class="row roboto waves">
      <div class="offset-1 text-white col-sm-7 mt-5">
          <h1 class="font-weight-bold display-3">Hi, I'm Keyon.</h1>
          <h2 class="text-white-50 mb-sm-4 ">I’m a student, technology enthusiast, and professional dad-joke-maker.</h2>
          <h4 class="text-white-50 font-italic ">“How do you get a baby astronaut to go to sleep? You... rocket”</h4>
          <br class="mt-5">
          <div class="darkbutton pt-2">
          <a mat-raised-button class="mx-1 buttoneffect" >Portfolio</a>
          <a mat-raised-button class="mx-1 buttoneffect">Resume</a>
          <a mat-raised-button class="mx-1 buttoneffect">Contact Me</a>
        </div>
        </div>
  </div>
  <div class="waveWrapper waveAnimation">
    <div class="waveWrapperInner bgTop">
      <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
    </div>
    <div class="waveWrapperInner bgMiddle">
      <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
    </div>
    <div class="waveWrapperInner bgBottom">
      <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
    </div>
  </div>


</div> <!-- CONTAINER-FLUID -->
