.introcontainer {
    background:url('../../assets/teacherspetswerve.svg') !important;
    background-size:cover !important;
    overflow-y: hidden;
}

.paragraph-size {
    font-size: 1.1em !important;
}

@media only screen and (max-width: 600px) {
    .introcontainer {
        overflow-y: hidden;
    }
  }

@media only screen and (min-width:600px) and (max-width:1100px){
    h6 {
        display:none;
    }
    #ml {
        display: none;
    }
}