/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto&display=swap');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/font-awesome/css/font-awesome.css";

.roboto {
    font-family:'Roboto';
}

.introcontainer {
    min-height:100vh !important;
    overflow:hidden;
  }

  