<div class="container-fluid h-100 introcontainer roboto text-white">
  <div class="row h-100 ">
    <div class="col-sm-5 col-12 align-self-center mt-5 pt-sm-2 text-center">
      <img class="w-75 mt-sm-2" src="../../assets/bosraspberrypi2.jpg">
      <br>
      <img class="w-75 mt-2 d-none d-sm-inline" src="../../assets/photoofballresize.jpg">
    </div>
    <div class="col-1 d-none d-sm-block">

    </div>
    <div class="col-12 col-sm-6 text-center pr-sm-5">
      <div class="row   mt-sm-5 pt-sm-5  ">
        <div class="col my-auto">
          <h1 class="display-4 font-weight-bold">FRC VISION</h1>
        </div>
      </div>
      <div class="row mt-sm-2">
        <div class="col my-auto">
          <div class="mt-sm-5 paragraph-size">
            <p class="paragraph-size">For the past two years in the FIRST Robotics Competition, I’ve worked on vision
              tracking (computer vision, using cameras) for our team’s robots. My programs, running on embedded systems
              such as the Jetson TX1 and Raspberry Pi, use video cameras and lights to detect field targets in
              real-time.</p>
            <p class="paragraph-size">
              My most recent FRC Computer Vision project used Azure Machine Learning. I submitted it to the BOS
              Raspberry Pi Contest, where I came in first place and won $2,500 in sponsorships for my team this year.
            </p>
            <p class="paragraph-size">
                The technologies I’ve used in these projects include Tensorflow, CustomVision.AI, OpenCV, NetworkTables and more.
              </p>

          </div>
          <a mat-raised-button class="mx-1 buttoneffect text-dark mb-2 mb-xl-0" href="https://github.com/keyonjerome/FRC-CustomVision.AI"
            target="_blank">View BOS Winning Submission on GitHub</a>
          <a mat-raised-button class="mx-1 buttoneffect text-dark  mb-2 mb-xl-0" href="https://github.com/keyonjerome/FRCVision2019"
            target="_blank">View 2019 Robot Vision code on GitHub</a>

        </div>
      </div>
    </div>



  </div>
</div>
