<div class="container-fluid h-100 introcontainer">
  <div class="row h-100 ">
    <div class="col   h-100 text-center roboto ">
      <app-navbar></app-navbar>
      <div class="row align-self-center h-100  realign mt-2 mt-sm-5 pt-5">
        <div class=" my-auto align-self-center offset-sm-2 align-self-center text-center col">
          <h1 class="display-3 font-weight-bold mt-5">Welcome to my software portfolio.</h1>
          <!-- <h5 class="font-italic text-muted">Not much, eh?</h5> -->
        
      <div class="row mt-5 text-center roboto">
        <div class="col">
          <h3 class="font-italic">Let's take a short walk through my best projects, and my largest accomplishments.</h3>
          <p class="display-4 arrow-down mt-5 bounce-3">↓</p>
        </div>

    </div>
            
        </div>
        <div class="col-sm-2"></div>
      
    </div>


    </div>


  </div>
</div>
