.arrow-down {
    
    animation-duration: 2s;
    animation-iteration-count: 3;
  
  }

.bounce-3 {
    animation-name: bounce-3;
    animation-timing-function: ease;
}
@keyframes bounce-3 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-1em); }
    75%  { transform: translateY(0); }
    100% { transform: translateY(0); }
}

  i {
    border: solid black;
    border-width: 0 1em 1em 0;
    display: inline-block;
    padding: 1.5em;
  }

.realign {
    margin-top:-5vh !important;
  }


  