:host,.rbc {
    background:url("../../assets/rbcpageswerve.svg") !important;
    background-size:cover !important;
    min-height:100vh !important;
}

.bluish {
    color:#243141;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    .reasons {
        font-size:1.0em;
    }
 }
