<div class="container-fluid d-flex h-100 introcontainer beginningcolour">
    <div class="row h-100 w-100 align-self-center d-flex justify-content-center mx-auto ">
      <div class="col  align-self-center d-flex justify-content-center  h-100 text-center roboto ">
        <!-- <app-navbar></app-navbar> -->
        <div class="row align-self-center h-100 ">
          <div class=" my-auto align-self-center text-center col w-100">
            <h1 class="display-3 font-weight-bold">Hi, RBC!</h1>
            <!-- <h3 class="font-italic text-muted">I mean, I have more, but you’ll have to check out my GitHub for that.</h3> -->
            <h6 class="text-muted">Thanks for checking out my portfolio.</h6>
              <div class="mt-5 mt-sm-3">
            <!-- <div class="text-dark mx-sm-3 d-inline-flex align-items-center justify-content-center ">
              <a href="https://github.com/keyonjerome">
                <fa-icon class=" fa-lg " [icon]="faGithub"></fa-icon>
              </a>
              <a href="https://github.com/keyonjerome">
                <h3 class=" ml-2 text-dark mb-0">keyonjerome</h3>
              </a>
  
            </div>
            <div class=" text-dark mx-sm-3 d-inline-flex align-items-center justify-content-center ">
              <a href="mailto:keyonjerome@gmail.com">
                <fa-icon class=" fa-lg " [icon]="faAt"></fa-icon>
              </a>
              <a href="mailto:keyonjerome@gmail.com">
                <h3 class=" mb-0 ml-2 text-dark">keyonjerome@gmail.com</h3>
              </a>
          </div>
            <div class=" text-dark mx-sm-3 d-inline-flex align-items-center justify-content-center ">
              <a href="https://linkedin.com/in/keyonjerome">
                <fa-icon class=" fa-lg " [icon]="faLinkedinIn"></fa-icon>
              </a>
              <a href="https://linkedin.com/in/keyonjerome">
                <h3 class=" mb-0 ml-2 text-dark">keyonjerome</h3>
              </a>
          </div> -->
            </div>
            <div >
              <!-- <a mat-raised-button class="mt-4 mt-sm-3   text-dark" scrollTo="intro" (click)="scrollToTop()"
              >Scroll to Top</a> -->
            </div>
          </div>
  
        </div>
  
  
      </div>
  
  
    </div>
  </div>
  